<div class="container">
  <h1 class="mb-5"> Your BOOSTED POSTS </h1>
  <div class="card-body">
    <div class="row">
      <% @jobs.each do |job| %>
      <div class="col-6 col-sm-6 col-md-3" style="margin-bottom: 15px">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= job.launched_at.strftime("%d %B %Y") %></h5>
          </div>
          <%= link_to  user_job_path(params[:user_id], job.id) do %>
          <% if job.image_url != nil %>
            <img src="<%=job.image_url + "media/?size=m" %>" alt="Your latest Post" class="card-img-top">
          <% end %>
          <%end%>
          <div>
            <h3><i style="color:black;" class="fas fa-hashtag"> </i> <%= job.hashtag %> </h3>
            <p> <b><%= job.given_likes.count%> <i style="color:black;" class="fas fa-heart"></i> given </b> </p>
            <p> <b><%= job.likes_received %> <i style="color:red;" class="fas fa-heart"></i> received </b> </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

