<div class="container">
  <h1>Let's start liking</h1>
  <br>
  <%= simple_form_for [@user, @job] do |f| %>
  <!--   <%= f.input :image_url %>
    <%= f.input :caption %>
    <%= f.input :hashtag %>
    <%= f.input :user_id %>
    <%= f.input :user_ig_media_id %>
    <%= f.input :likes_received %>
    <%= f.input :launched_at %>
    <%= f.input :stopped_at %> -->

          <%= f.input :hashtag %>
          <%= f.input :instagram_username %>
          <%= f.input :instagram_password %>
    <br>
    <%= f.submit "Start Job", class: 'btn btn-primary btn-lg btn-block' %>
  <% end %>
</div>
