
  <!--  Displaying the likes given by the bot for this post -->
<div class="container">

  <table class="table align-text-middle">
    <tbody>
      <tr>
        <th scope="row">
          <div id= "#post">
            <div class="card">
              <div class="card-header">
                <img src="https://scontent-frx5-1.cdninstagram.com/vp/5bed0121e88155f1f3ad4cb2c649cffc/5E67CAC1/t51.2885-19/s150x150/18096529_1328738613870773_7370561022676959232_a.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com" alt="avatartest" class="avatartest">
                <h4 class="margins">Boosted post</h4>
              </div>
              <div class="card-body">
                <% if @job.image_url != nil %>
                  <img src="<%= @job.image_url + "media/?size=t" %>" alt="Your latest Post" class="img-thumbnail">
                <% end %>
                <p class="card-text"> <%#= @job.caption %></p>
                <!--<h3>Job launched </h3>  -->
                <p><%= @job.created_at %></p>
                <p> <b><%= @job.likes_received %> <i style="color:red;" class="fas fa-heart"></i> received </b> </p>
                <p> <b><%= @job.given_likes.count%> <i style="color:black;" class="fas fa-heart"></i> given </b> </p>
                <p> <b><%= rand(0..20)%>  <i style="color:green;" class="fas fa-user-plus"></i> gainned </b> </p>
          </div>
        </th>
      </tr>
    </tbody>
  </table>



  <div  id='likes-given'>
      <h4><i style="color:red;" class="fas fa-heart"></i><span>I liked 4 you</span><i style="color:red;" class="fas fa-heart"></i></h4>
      <div class="user-tabs cards">

          <% @job.given_likes.each do |given_like| %>
          <a href="<%= given_like.ig_media_id %>" target="_blank" >
            <img src="<%= given_like.ig_media_id + "media/?size=t" %>" alt="Your latest Post" class="float img-thumbnail">
          </a>
          <% end %>

      </div>
    </div>
  </div>


<!--     <div class="container margin-top-50 col-lg-5 col-xl-5 mx-auto">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"> </th>
            <th scope="col">LIKES RECEIVED</th>
            <th scope="col">FOLLOWERS GAINED </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">TOTAL</th>
            <td><%#= @job.likes_received %></td>
            <td><%#= rand(10..20)%></td>
          </tr>
          <tr>
            <th scope="row">THANKS TO BOT</th>
            <td><%#= rand(10..50)%></td>
            <td><%#= rand(0..10)%></td>
          </tr>
        </tbody>
      </table>
    </div>

<i class="fas fa-user-plus"></i>
            <p> For this post you received <b><%= @job.likes_received %> likes </b> and gained <b><%= rand(10..20)%> followers </b> on your account </p>
            <p> OUT OF THOSE </p>
            <p> <b><%= rand(10..50)%> likes </b> and <b><%= rand(10..50)%> followers </b> were gained thanks to the bot</p>
          </div>


  -->




    </div>
</div>



