<!--  Displaying the likes given by the bot for this post -->
<div id= "post" class="container">
  <div class="row" >
    <div class="col">
      <div class="card">
        <div class="card-header">
          <%= image_tag(@job.avatar, class: 'profile-avatar') if @job.avatar.attached? %>
          <h4 class="margins">Boosted post</h4>
        </div>
        <div class="card-body">
          <% if @job.image != nil %>
          </div>
          <%= image_tag(@job.image, alt: 'Your latest post', class: 'card-img') if @job.image.attached? %>
        <% end %>
        <p class="card-text"></p>
        <p><%= @job.launched_at.strftime("%A @%k:%M") %></p>
        <h2><i style="color:black;" class="fas fa-hashtag"> </i> <%= @job.hashtag %></h2>
        <p><b> <i style="color:grey;" class="fas fa-stopwatch"></i> <%= @jobtime %> min</b> </p>
        <p><b><%= @job.given_likes.count%> <i style="color:black;" class="fas fa-heart"></i> given </b></p>
        <p><b><%= @likes_backs %> <i style="color:green;" class="fas fa-heart"></i> backs </b> </p>
        <% if @job.process_pid != nil %>
          <%= link_to 'stop', user_job_stop_path(current_user.id, @job.id), class: "btn btn-danger btn-lg" %>
        <% end %>

      </div>
    </div>
  </div>
  <div  id='likes-given' class="col">
    <h4><b>I<i style="color:red;" class="fas fa-heart"></i>4 you </b></h4>
    <div class="liked-posts">
      <% @job.given_likes.each do |given_like| %>
        <a href="<%= given_like.ig_media_id %>" target="_blank" >
          <%= image_tag(given_like.image) if given_like.image.attached? %>
        </a>
      <% end %>
    </div>
  </div>
</div>
<!-- <p> <b><%#= @job.likes_received %> <i style="color:red;" class="fas fa-heart"></i> received </b> </p>
          <p> <b><%#= @job.followers_gained %>  <i style="color:green;" class="fas fa-user-plus"></i> gained </b> </p>-->
