<div style="background-color: #000" class="navbar navbar-expand-sm navbar-dark navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "ilikelogo-white.png" %>
  <% end %>
  <% if user_signed_in? %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <% else%>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link nav-link-custom" %>
      </li>
    </ul>
  <% end %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="launchBot nav-item active">
           <%= image_tag "icons/launchBot.png" %>
          <%= link_to "Launch Bot", "", class: "nav-link" %>
        </li>
        </br>
        <li class="currentlyBoosting nav-item active">
           <%= image_tag "icons/currentlyBoosting.png" %>
          <%= link_to "Currently Boosting", "", class: "nav-link" %>
        </li>
        
        <li class="boostedPosts nav-item active">
           <%= image_tag "icons/boostedPosts.png" %>
          <%= link_to "Boosted Posts", "", class: "nav-link" %>
        </li>
        
        <li class="emailPlusPassword nav-item active">
           <%= image_tag "icons/emailPlusPassword.png" %>
          <%= link_to "Email + Password", "", class: "nav-link" %>
        </li>
        
        <li class="subscription nav-item active">
           <%= image_tag "icons/subscription.png" %>
          <%= link_to "Subscription", "", class: "nav-link" %>
        </li>
        </br>
          <li class="frequentQuestion nav-item active">
           <%= image_tag "icons/frequentQuestion.png" %>
          <%= link_to "Frequent Question", "", class: "nav-link" %>
        </li>
          <li class="igTricksAndTips nav-item active">
           <%= image_tag "icons/igTricksAndTips.png" %>
          <%= link_to "IG Tips & Tricks", "", class: "nav-link" %>
        </li>
                </br>
          <li class="giveReview nav-item active">
           <%= image_tag "icons/giveReview.png" %>
          <%= link_to "Give Review", "", class: "nav-link" %>
        </li>
          <li class="makeSugestion nav-item active">
           <%= image_tag "icons/makeSugestion.png" %>
          <%= link_to "Make a sugestion", "", class: "nav-link" %>
        </li>
        </br>
          <li class="logOut nav-item active">
           <%= image_tag "icons/frequentQuestion.png" %>

              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %> 
        </li>


        <% else %>
        
        <% end %>
      </li>
    </ul>
  </div>
</div>
