<body>
  <div class="container" style="max-width: 600px;"">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="devise-bootstrap-form">
          <div class="devise-bootstrap-form-row">
            <div class="devise-bootstrap-form-col">
              <div class="card card-signin flex-row my-5">
                <div class="card-body">
                  <h2 class="text-center">Log in</h2>

                    <div class="text-left">
                      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                          <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
                            <% if devise_mapping.rememberable? -%>
                                <%= f.form_group do %>
                                    <%= f.check_box :remember_me %>
                                <% end %>
                            <% end -%>

                          <%= f.form_group do %>
                              <%= f.submit "Log in", class: "btn btn-primary btn-block btn-lg" %>
                          <% end %>
                      <% end %>
                      <div class="text-center">
                        <%= render "devise/shared/links" %>
                      </div>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
