<body>
  <div class="container" style="max-width: 600px;">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="devise-bootstrap-form">
          <div class="devise-bootstrap-form-row">
            <div class="devise-bootstrap-form-col">
              <%= image_tag "robot-hello.png" %>
              <h2 class="text-center mt-3 mb-3">Welcome Back!</h2>
              <div class="text-left">
                <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', skip_label: true %>
                  <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', skip_label: true %>
                  <%= f.hidden_field :remember_me, value: '1' %>
                  <%= f.form_group do %>
                    <%= f.submit "Log in", class: "btn btn-primary btn-block btn-lg" %>
                  <% end %>
                <% end %>
                <div class="text-center">
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Sign up", new_registration_path(resource_name), class: 'btn btn-dark btn-block mt-3' %><br />
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
